@import "tailwindcss";
:root {
  --color-bg-primary: #354F52;
  --color-bg-surface: #52796F;
  --color-bg-elevated: #84A98C;

  --color-accent: #e8ff4d;
  --color-accent-muted: #b8cc3d;

  --color-text-primary: #CAD2C5;
  --color-text-muted: #888888;
  --color-text-faint: #444444;

  --color-income: #bce784;
  --color-expense: #f87171;

  --color-border: #2a2a2a;

  --radius-sm: 8px;
  --radius-md: 12px;
  --radius-lg: 16px;
}

body {
  background: var(--color-bg-primary);
  color: var(--color-text-primary);
}



